<div class="form-group">
  <label for="type">Choisissez le type de bien : </label>
  <input type="text" class="form-control" id="type" [(ngModel)]="type" name="type"/>
</div>
<div>
	Voici la liste des biens de type {{type}}:
	<ul class="good">    
		<ng-container *ngFor="let good of goods"> 
		<ng-container ng-switch on="good.type"> 
			<li *ngIf="good.type==type">
			<div>
				Nom du bien: {{good.nom}} 
			</div>
			<br/>
			<div>
				Prix : {{good.prixNeuf}} 
			</div>
			<br/>
			<div>
				Type : {{good.type}}
			</div>
			<br/>
			<button (click)="deleteGood(good.idBien)"> Supprimer </button>
		</li>
		</ng-container> 
		</ng-container> 
		</ul>
	</div>